body {
	font-family: 'Roboto', sans-serif;
}

.container {
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 10px;
	width: 300px;
	-webkit-box-shadow: 5px 5px 2px 0px lightgray;
	moz-box-shadow: 5px 5px 2px 0px lightgray;
	box-shadow: 5px 5px 2px 0px lightgray;
}

img {
	padding: 10px 0 10px 0;
	width: 300px;
}

.info {
	border: 1px solid lightgray;
	padding: 0 10px 0 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 9pt;
}

.fact {
	font-style: italic;
}

ul, li {
	list-style-type: none;
	padding-left: 0;
}

span {
	font-weight: 700;
}